
      <div class="col-md-6">
          <h2>Ostatnio dodani</h2>
            <div class="table-responsive">
                <table class="table">
                    <tr ng-style=" {'background-color': '#36363a','color':'white'}">
                        <th>#</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th class="tab-actions" >Action</th>
                    </tr>
                    <tr ng-repeat="p in studentsAll  | orderBy : '-date' | limitTo:10">
                        <td>{{$index+1}}</td>
                        <td>{{p.imie}}</td>
                        <td>{{p.nazwisko}}</td>
                        <td class="tab-actions">
                            <a href="{{link(p)}}" ><span class="glyphicon glyphicon-user glyph-icon-custom glyph-icon-custom-details"  aria-hidden="true"></span></a>
                            <a href="{{link_edit(p)}}" ><span class="glyphicon glyphicon-edit glyph-icon-custom glyph-icon-custom-edit"  aria-hidden="true"></span></a>
                        </td>
                        
                    </tr>
                </table>
            </div>
    </div>