
  <div class="z4">
    <nav class="navbar navbar-custom2 navbar-fixed-top ">
      <div class ="row "> 
        <div class="col-md-3 col-search navbar-right navbar-custom-search">
            <div class="form-group has-feedback">
              <input type="text" class="form-control " ng-model="$parent.searchText" placeholder="Search for...">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
      </div>
    </nav>
</div>









