<div ng-include src="'partials/search.html'"></div>

<h2><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span><strong>Szkoły</strong></h2>
       
<div class="container-fluid">
    <div class="row ">

    <div class="col-md-2 navbar-right">
      
        <div class="btn-group">
          <button type="button" class="btn btn-custom "><span class="glyphicon glyphicon-pad2 glyphicon-cog" aria-hidden="true"></span>Wybierz akcję</button>
          <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-pad glyphicon-search" aria-hidden="true"></span>Wyszukiwanie zaawansowane</a></li>
            <li><a href="#!/addSchoolandClass"><span class="glyphicon glyphicon-pad glyphicon-plus" aria-hidden="true"></span>Dodaj Szkoły i Klasy</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        
    </div>

  </div>
</div>
    <div class="col-md-6">

       

      <div class="table-responsive myscroll">
        <table class="table table-striped table-hover ">
          <thead>
              <tr ng-style=" {'background-color': '#36363a','color':'white'}">
                <th style="width: 10px">#</th>
                <th style="width: 30px"></th>
                <th>Nazwa</th>
                <th class="tab-actions">Akcje</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="a in schools | filter:searchText" >
                  <td >{{$index+1}}</td>
                 
                  <td>  
                    <div class="check">
                        <input id="check{{$index}}" type="checkbox"/>
                        <label for="check{{$index}}">
                          <div class="box"><i class="fa fa-check"></i></div>
                        </label>
                    </div>
                
                  </td>
                  <td ng-click="showSchoolClass(a)">{{a.nazwa}}</td>
                  <td class="tab-actions">
                    <a href="{{link_school_details(a)}}"  ><span class="glyphicon glyphicon-user glyph-icon-custom glyph-icon-custom-details" aria-hidden="true"></span></a>
                    <a href="{{link_edit(a)}}" ><span class="glyphicon glyphicon-edit glyph-icon-custom glyph-icon-custom-edit"  aria-hidden="true"></span></a>
                  </td>
                
              </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="col-md-6">
     
      <div class="table-responsive myscroll">
        <table class="table table-striped table-hover ">
          <thead>
              <tr ng-style=" {'background-color': '#36363a','color':'white'}">
                <th style="width: 10px">#</th>
                <th style="width: 30px"></th>
                <th>Nazwa</th>
                <th class="tab-actions">Akcje</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="a in listClass" >
                  <td>{{$index+1}}</td>
                  <td>  
                    <div class="check">
                        <input id="check1{{$index}}" type="checkbox"/>
                        <label for="check1{{$index}}">
                          <div class="box"><i class="fa fa-check"></i></div>
                        </label>
                    </div>
                  </td>
                  <td>{{a.nazwa}}</td>
                  <td class="tab-actions">
                    <a href="{{link_class_details(a)}}"  ><span class="glyphicon glyphicon-user glyph-icon-custom glyph-icon-custom-details" aria-hidden="true"></span></a>
                    <a href="{{link_edit(a)}}" ><span class="glyphicon glyphicon-edit glyph-icon-custom glyph-icon-custom-edit"  aria-hidden="true"></span></a>
                  </td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>





