
    <div ng-include src="'partials/Menu/search.html'"></div>
    <div class="col-md-2 navbar-right select-action">
        <a href="{{newNote()}}" class="btn btn-success"><span class=" glyphicon  glyphicon-pad2 glyphicon-save" aria-hidden="true"></span>Nowa notatka</a>
    </div>


<div class ="note-scroll cpl border-top">
    
    <div ng-init="getNotes()" >
        <div class="row ">
            <div class="col col-md-8 ">
                <div ng-repeat="note in listNotes |  filter:searchText" >
                    <li class="note py-4 border-bottom">
                        <a href="{{detailsNote(note)}}" class="text-primary"><h3>{{note.title}}</h3></a>
                        <div class="row">
                            <p  class="col-md-8 text-muted note-font">{{note.details}}</p>
                            <div class="col-md-4 navbar-right text-muted note-font">Edytowano {{note.dateEdit | date:'HH:mm dd-MM-yyyy'}}</div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>