body {
    overflow:hidden;
    /*background-color: #ebf0ff;*/
}

 /*.content > .container-fluid{
    padding-top:50px;
}*/

 .active { 
    background-color: #1ba3d6;
    border-radius: 3px; 
    
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #a0ddf3;
  color:black;
}
.alert-top {
    margin-top: 2em;
}
.table-width > tbody > tr > th {
    width:200px;
    vertical-align: inherit;
}
.table-details >tbody> tr > td, .table-details > tbody > tr > th  {
    padding:15px;
}

.glyph-icon-custom {
    font-size: 1.35em;
    padding:5px;
}
.glyph-icon-custom-details {
    color:#33b5e5;
}
.glyph-icon-custom-edit {
    color:#00b700;
}
.btn-custom {
    background-color: #33b5e5;
    color:white;
}
.btn-custom:hover {
    background-color: #1ba3d6;
    color:white;
}
.btn-custom:active {
    background-color: #1ba3d6;
    color:white;
}
.btn-custom:focus {
    background-color: #1ba3d6;
    color:white;
}

a{
    color:white;
}
.nav {
    padding-left: 20px;
    padding-right: 20px;
}

.glyphicon-pad {
    padding: 2px 10px 2px 2px;
}
.glyphicon-pad2 {
    padding: 0px 10px 0px 0px;
}
.tab-actions{
    width:140px;
    text-align: center;
}
.tab-checkbox {
    width:30px;
    text-align: center; 
}

.btn-pad {
    width:200px;
}
.select-action{
    padding-top: 23px;
}

.main {
  padding-top:70px;  
}
 h3 {
     padding-bottom: 20px;
 }
 h3 > .glyphicon {
     padding: 0px 15px 0px 0px;
 }

.menu {
  padding-top:0px;  
}
.col-search {
    padding-left:0px;  
}

.myscroll {
    overflow:auto;
    height:700px;
}

.z {
    padding-left: 250px;
    z-index: 1;
}
.z3 {
    position: absolute;
    z-index: 2;
}

.z2 {
    position: absolute;
    z-index: 20;
}
.z4 {
    position: absolute;
    z-index: 4;
}

.logo {
    max-width: 100%;
    display: block;
    height: auto;
    padding: 15% 50px;
}
.btn-custom-add {
    text-align:center;
     /*margin-top:15px;*/
}

.test{
    width:400px;
}


.navbar-custom {
    background-color: #272528;
    background-image: url(../img/a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.navbar-custom-head{
    height: 65px;
}
.navbar-custom2 {
    /*background: linear-gradient(to right, #272528 ,#272528,#272528,#272528, #99989c,#272528);*/
    background: #36363a;
}
.navbar-custom-search {
   padding-top: 15px;
   padding-right:70px;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #fff;
}


input[type=checkbox] {
  transform: scale(1.5);
}








