
<div ng-include src="'partials/search.html'"></div>

<div class="container-fluid">

    <div class="row ">

      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span><strong>Uczniowie</strong></h3>
      </div>

    <!--<div class="col-sm-1">
      <div class="form-group">
        <select class="form-control" id="sel1">
          <option>10</option>
          <option>20</option>
          <option>50</option>
          <option>All</option>
        </select>
      </div>
    </div>-->

    <div class="col-md-2 navbar-right select-action">

        <div class="btn-group">
          <button type="button" class="btn btn-custom"><span class="glyphicon glyphicon-pad2 glyphicon-cog" aria-hidden="true"></span>Wybierz akcję</button>
          <button type="button"  class="btn dropdown-toggle btn-custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a data-toggle="modal" ng-click=clearSearch2() data-target="#myModal"><span class="glyphicon glyphicon-pad glyphicon-search" aria-hidden="true"></span>{{menu.search}}</a></li>
            <li><a href="#!/Person/add"><span class="glyphicon glyphicon-pad glyphicon-plus" aria-hidden="true"></span>Dodaj Ucznia</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><span class="glyphicon glyphicon-pad glyphicon-search" aria-hidden="true"></span> {{menu.search}}</h4>
          </div>
          <div class="modal-body">
            <p>Kogo poszukujemy ?</p>
                <div class="form-group">
                    <label for="data_ur" class="control-label">Imię</label>
                    <input  class="form-control" ng-model="search.imie" >
                </div>
                <div class="form-group">
                    <label for="data_ur" class="control-label">Nazwisko</label>
                    <input  class="form-control" ng-model="search.nazwisko" >
                </div>
                <div class="form-group">
                    <label for="data_ur" class="control-label">PESEL</label>
                    <input  class="form-control" ng-model="search.pesel" >
                </div>  
                

                <label for="data_ur" class="control-label">Płeć</label></br>
                <div class="row">
                  <div class="col-md-4">
                    <div class="check">
                          <input id="check2" ng-model="searchSex.M" ng-change="change('M')" type="checkbox"/>
                          <label for="check2" style="justify-content: inherit;">
                              <div class="box"><i class="fa fa-check" ></i></div> <div style="padding:5px;">Mężczyzna</div>
                          </label>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="check">
                          <input id="check1" ng-model="searchSex.K" ng-change="change('K')" type="checkbox"/>
                          <label for="check1" style="justify-content: inherit;">
                              <div class="box"><i class="fa fa-check" ></i></div> <div style="padding:5px;">Kobieta</div>
                          </label>
                      </div>
                  </div>
                </div>
                  
              <label for="data_ur" class="control-label">Kogo szukamy?</label></br>
              <div class="row">
                  <div class="col-md-4">
                    <div class="check">
                        <input id="checkisStud1" ng-model="isStudSearch.T" ng-change="changeisStud('T')" type="checkbox"/>
                        <label for="checkisStud1" style="justify-content: inherit;">
                            <div class="box"><i class="fa fa-check" ></i></div> <div style="padding:5px;">Jest Uczniem</div>
                        </label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="check">
                        <input id="checkisStud2" ng-model="isStudSearch.N" ng-change="changeisStud('N')" type="checkbox"/>
                        <label for="checkisStud2" style="justify-content: inherit;">
                            <div class="box"><i class="fa fa-check" ></i></div> <div style="padding:5px;">Nie Jest Uczniem</div>
                        </label>
                    </div>
                </div>
              </div>

          

          <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click=clearSearch()>Wyczyść</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>


  <div class="table-responsive myscroll">
    <table class="table table-hover  ">
      <thead>
          <tr ng-style=" {'background-color': '#36363a','color':'white'}">
            <th style="width: 10px">#</th>
            <th style="width: 30px"></th>
            <th ng-click="sortType = 'imie'; sortReverse = !sortReverse">Imię    
                    <span ng-show="sortType != 'imie'"                 class=" glyphicon glyphicon-triangle-bottom pull-right "></span>
                    <span ng-show="sortType == 'imie' && !sortReverse" class=" glyphicon glyphicon-triangle-bottom pull-right "></span>     
                    <span ng-show="sortType == 'imie' && sortReverse"  class=" glyphicon glyphicon-triangle-top pull-right "></span>
            </th>
            <th ng-click="sortType = 'nazwisko'; sortReverse = !sortReverse">Nazwisko  
                    <span ng-show="sortType != 'nazwisko'"                 class=" glyphicon glyphicon-triangle-bottom pull-right "></span>
                    <span ng-show="sortType == 'nazwisko' && !sortReverse" class=" glyphicon glyphicon-triangle-bottom pull-right "></span>     
                    <span ng-show="sortType == 'nazwisko' && sortReverse"  class=" glyphicon glyphicon-triangle-top pull-right "></span> 
            </th>
            <th  ng-click="sortType = 'pesel'; sortReverse = !sortReverse">PESEL          
                    <span ng-show="sortType != 'pesel'"                 class=" glyphicon glyphicon-triangle-bottom pull-right "></span>
                    <span ng-show="sortType == 'pesel' && !sortReverse" class=" glyphicon glyphicon-triangle-bottom pull-right "></span>     
                    <span ng-show="sortType == 'pesel' && sortReverse"  class=" glyphicon glyphicon-triangle-top pull-right "></span> 
            </th>
            <th ng-click="sortType = 'data_ur'; sortReverse = !sortReverse">Data urodzenia
                    <span ng-show="sortType != 'data_ur'"                 class=" glyphicon glyphicon-triangle-bottom pull-right "></span>
                    <span ng-show="sortType == 'data_ur' && !sortReverse" class=" glyphicon glyphicon-triangle-bottom pull-right "></span>     
                    <span ng-show="sortType == 'data_ur' && sortReverse"  class=" glyphicon glyphicon-triangle-top pull-right "></span> 
            </th>
            <th ng-click="sortType = 'nr_klasy.nazwa'; sortReverse = !sortReverse">Klasa  
              <span ng-show="sortType != 'nr_klasy.nazwa'"                       class=" glyphicon glyphicon-triangle-bottom pull-right "></span>
                    <span ng-show="sortType == 'nr_klasy.nazwa' && !sortReverse" class=" glyphicon glyphicon-triangle-bottom pull-right "></span>     
                    <span ng-show="sortType == 'nr_klasy.nazwa' && sortReverse"  class=" glyphicon glyphicon-triangle-top pull-right "></span> 
            </th>
            <th ng-click="sortType = 'szkola.nazwa'; sortReverse = !sortReverse">Szkoła  
                    <span ng-show="sortType != 'szkola.nazwa'"                 class=" glyphicon glyphicon-triangle-bottom pull-right "></span>
                    <span ng-show="sortType == 'szkola.nazwa' && !sortReverse" class=" glyphicon glyphicon-triangle-bottom pull-right "></span>     
                    <span ng-show="sortType == 'szkola.nazwa' && sortReverse"  class=" glyphicon glyphicon-triangle-top pull-right "></span> 
            </th>
            <th class="tab-actions">Akcje</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="a in studentslist | orderBy:sortType:sortReverse | filter:search  |  filter:searchText ">
            <td>{{$index}}</td>
            <td>  
              <div class="check">
                  <input id="check{{$index}}" type="checkbox"/>
                  <label for="check{{$index}}">
                    <div class="box"><i class="fa fa-check"></i></div>
                  </label>
              </div>
            </td>
            <td>{{a.imie}}</td>
            <td>{{a.nazwisko}}</td>
            <td>{{a.pesel}}</td>
            <td>{{a.data_ur | date:'yyyy-MM-dd'}}</td>
            <td>{{a.nr_klasy.nazwa}}</td>
            <td>{{a.szkola.nazwa}}</td>
            <td class="tab-actions">
                <a href="{{link(a)}}" ><span class="glyphicon glyphicon-user glyph-icon-custom glyph-icon-custom-details"  aria-hidden="true"></span></a>
                <a href="{{link_edit(a)}}" ><span class="glyphicon glyphicon-edit glyph-icon-custom glyph-icon-custom-edit"  aria-hidden="true"></span></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    
 

    

    

