
<div ng-include src="'partials/search.html'"></div>

<h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span><strong>Uczniowie</strong></h2>

<div class="container-fluid">
    <div class="row ">

    <!--<div class="col-sm-1">
      <div class="form-group">
        <select class="form-control" id="sel1">
          <option>10</option>
          <option>20</option>
          <option>50</option>
          <option>All</option>
        </select>
      </div>
    </div>-->

    <div class="col-md-2 navbar-right">

        <div class="btn-group">
          <button type="button" class="btn btn-custom"><span class="glyphicon glyphicon-pad2 glyphicon-cog" aria-hidden="true"></span>Wybierz akcję</button>
          <button type="button"  class="btn dropdown-toggle btn-custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-pad glyphicon-search" aria-hidden="true"></span>Wyszukiwanie zaawansowane</a></li>
            <li><a href="#!/Person/add"><span class="glyphicon glyphicon-pad glyphicon-plus" aria-hidden="true"></span>Dodaj Ucznia</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

    </div>


  </div>
</div>


  <div class="table-responsive myscroll">
    <table class="table table-hover  ">
      <thead>
          <tr ng-style=" {'background-color': '#36363a','color':'white'}">
            <th style="width: 10px">#</th>
            <th style="width: 30px"></th>
            <th ng-click="sortType = 'imie'; sortReverse = !sortReverse">Imię    
                    <span ng-show="sortType != 'imie'"                 class=" glyphicon glyphicon-triangle-bottom pull-right "></span>
                    <span ng-show="sortType == 'imie' && !sortReverse" class=" glyphicon glyphicon-triangle-bottom pull-right "></span>     
                    <span ng-show="sortType == 'imie' && sortReverse"  class=" glyphicon glyphicon-triangle-top pull-right "></span>
            </th>
            <th ng-click="sortType = 'nazwisko'; sortReverse = !sortReverse">Nazwisko  
                    <span ng-show="sortType != 'nazwisko'"                 class=" glyphicon glyphicon-triangle-bottom pull-right "></span>
                    <span ng-show="sortType == 'nazwisko' && !sortReverse" class=" glyphicon glyphicon-triangle-bottom pull-right "></span>     
                    <span ng-show="sortType == 'nazwisko' && sortReverse"  class=" glyphicon glyphicon-triangle-top pull-right "></span> 
            </th>
            <th  ng-click="sortType = 'pesel'; sortReverse = !sortReverse">PESEL          
                    <span ng-show="sortType != 'pesel'"                 class=" glyphicon glyphicon-triangle-bottom pull-right "></span>
                    <span ng-show="sortType == 'pesel' && !sortReverse" class=" glyphicon glyphicon-triangle-bottom pull-right "></span>     
                    <span ng-show="sortType == 'pesel' && sortReverse"  class=" glyphicon glyphicon-triangle-top pull-right "></span> 
            </th>
            <th ng-click="sortType = 'data_ur'; sortReverse = !sortReverse">Data urodzenia
                    <span ng-show="sortType != 'data_ur'"                 class=" glyphicon glyphicon-triangle-bottom pull-right "></span>
                    <span ng-show="sortType == 'data_ur' && !sortReverse" class=" glyphicon glyphicon-triangle-bottom pull-right "></span>     
                    <span ng-show="sortType == 'data_ur' && sortReverse"  class=" glyphicon glyphicon-triangle-top pull-right "></span> 
            </th>
            <th ng-click="sortType = 'nr_klasy.nazwa'; sortReverse = !sortReverse">Klasa  
              <span ng-show="sortType != 'nr_klasy.nazwa'"                       class=" glyphicon glyphicon-triangle-bottom pull-right "></span>
                    <span ng-show="sortType == 'nr_klasy.nazwa' && !sortReverse" class=" glyphicon glyphicon-triangle-bottom pull-right "></span>     
                    <span ng-show="sortType == 'nr_klasy.nazwa' && sortReverse"  class=" glyphicon glyphicon-triangle-top pull-right "></span> 
            </th>
            <th ng-click="sortType = 'szkola.nazwa'; sortReverse = !sortReverse">Szkoła  
                    <span ng-show="sortType != 'szkola.nazwa'"                 class=" glyphicon glyphicon-triangle-bottom pull-right "></span>
                    <span ng-show="sortType == 'szkola.nazwa' && !sortReverse" class=" glyphicon glyphicon-triangle-bottom pull-right "></span>     
                    <span ng-show="sortType == 'szkola.nazwa' && sortReverse"  class=" glyphicon glyphicon-triangle-top pull-right "></span> 
            </th>
            <th class="tab-actions">Akcje</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="a in studentslist | orderBy:sortType:sortReverse |  filter:searchText ">
            <td>{{$index}}</td>
            <td>  
              <div class="check">
                  <input id="check{{$index}}" type="checkbox"/>
                  <label for="check{{$index}}">
                    <div class="box"><i class="fa fa-check"></i></div>
                  </label>
              </div>
            </td>
            <td>{{a.imie}}</td>
            <td>{{a.nazwisko}}</td>
            <td>{{a.pesel}}</td>
            <td>{{a.data_ur | date:'yyyy-MM-dd'}}</td>
            <td>{{a.nr_klasy.nazwa}}</td>
            <td>{{a.szkola.nazwa}}</td>
            <td class="tab-actions">
                <a href="{{link(a)}}" ><span class="glyphicon glyphicon-user glyph-icon-custom glyph-icon-custom-details"  aria-hidden="true"></span></a>
                <a href="{{link_edit(a)}}" ><span class="glyphicon glyphicon-edit glyph-icon-custom glyph-icon-custom-edit"  aria-hidden="true"></span></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    
 

    

    

