<div class="container-fluid">
    
    <div ng-init="getPerson()">
        <h3><strong>{{bbb.nazwisko}} {{bbb.imie}}</strong></h3>
                
        
                                
        <div class="row">
            <div class="col-md-10" id="HTMLtoPDF">

                <div class="alert alert-{{message.mode}} " ng-if="message.text">
                    <a href="" class="close" arial-label="close" ng-click="clearMessage()"> &times;</a>
                    <strong>Info!</strong> {{message.text}}
                </div>

                <table class="table table-width table-details" >
                    <tr>
                        <th>Imię: </th>
                        <td><span>{{bbb.imie}}</span></td>
                    </tr>
                    <tr>
                        <th>Nazwisko: </th>
                        <td>{{bbb.nazwisko}}</td>
                    </tr>
                    <tr>
                        <th>Data urodzenia: </th>
                        <td>{{bbb.data_ur | date:'dd-MM-yyyy'}}</td>
                    </tr>
                    <tr>
                        <th>PESEL: </th>
                        <td>{{bbb.pesel}}</td>
                    </tr>
                    <tr>
                        <th>Płeć: </th>
                        <td>{{bbb.sex}}</td>
                    </tr>
                    <tr>
                        <th>Szkoła: </th>
                        <td>{{bbb.szkola.nazwa}}</td>
                    </tr>
                    <tr>
                        <th>Klasa: </th>
                        <td>{{bbb.nr_klasy.nazwa}}</td>
                    </tr>
                    <tr>
                        <th>Szczegóły: </th>
                        <td>{{bbb.details}}</td>
                    </tr>
                </table>
                </br>
                
            </div>
            <div class="col-md-2"></br>
                <button type="submit"  class="btn btn-primary btn-block">Do SOMETHING</button>
                <button type="submit" data-toggle="modal" data-target="#myModaledit"  class="btn btn-success btn-block"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDYTUJ</button>
                <button type="submit" ng-click="createPersonDetailsPDF(bbb)" class="btn btn-info btn-block"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> UTWÓRZ PDF </button>
                </br></br><button type="submit"  class="btn btn-danger btn-block"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> USUŃ</button>
                </br></br><strong>KONTAKT</strong></br></br>
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true">  123 435 234</br></br>
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"> 48 123 123 123</br>
            </div>

        </div>
    </div>
            <!-- Modal -->
            <div ng-include src="'partials/Person/edit_Person.html'"></div>
</div>