<div id="toolbar"></div>
<div id="editor"></div>
<a ng-click=saveEditor() id="saveEditor" class="btn btn-primary">SAVE EDITOR</a>
<a ng-click=getEditor() id="getEditor" class="btn btn-primary">GET EDITOR</a>

        {{text}}

    <script>
            var toolbarOptions = [

                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],

                [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                [{ 'direction': 'rtl' }],                         // text direction

                [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                [{ 'font': [] }],
                [{ 'align': [] }],

                ['clean'],  
                ['image']                                      // remove formatting button
                ];

            var options = {
                modules: {
                    toolbar: toolbarOptions,
                    imageDrop: true
                },
                theme: 'snow'
            };
            var quill = new Quill('#editor', options);

    </script>