<div class="z2" >
    <nav class="navbar navbar-custom navbar-fixed-side menu ">
        <!-- normal collapsible navbar markup -->
        <div id="navbar" class="navbar-collapse collapse" ng-controller="MenuCtrl">
            <div class="navbar-header">
                    <a class="" href="/">
                        <img src="img/Fullmetal_Alchemist_Anime_Logo.svg.png" class="logo"/> 
                    </a>
                </div>
            <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/') }"><a  href="/"><span class="glyphicon glyphicon-pad glyphicon-home" aria-hidden="true"></span>Główna</a></li>
                    <li ng-class="{ active: isActive('/link') }"><a  href="#"><span class="glyphicon glyphicon-pad glyphicon-cloud" aria-hidden="true"></span>Link</a></li>
                    <li ng-class="{ active: isActive('/Person') }"><a  href="#!/Person"><span class="glyphicon glyphicon-pad glyphicon-user" aria-hidden="true"></span>Uczniowie</a></li>
                    <li ng-class="{ active: isActive('/Schools') }"><a  href="#!/Schools"><span class="glyphicon glyphicon-pad glyphicon-education" aria-hidden="true"></span>Szkoły</a></li>
                    <li ng-class="{ active: isActive('/HealthCenter') }"><a  href="#!/HealthCenter"><span class="glyphicon glyphicon-pad glyphicon-grain" aria-hidden="true"></span>Ośrodki Zdrowia</a></li>
                    <li ng-class="{ active: isActive('/link') }"><a  href="#"><span class="glyphicon glyphicon-pad glyphicon-send" aria-hidden="true"></span>Link</a></li>
                    <li ng-class="{ active: isActive('/link') }"><a  href="#"><span class="glyphicon glyphicon-pad glyphicon-print" aria-hidden="true"></span>Link</a></li>
            </ul>
        </div>
    </nav>
    
</div>

<nav class=" navbar navbar-custom2 "></nav>