    
    
    <div class="col-md-7">
        <h3><span class="glyphicon glyphicon-{{$parent.title.glyph}}" aria-hidden="true"></span><strong>{{$parent.title.title}}</strong></h3>
    </div>

    <div class="col-md-3 col-search navbar-custom-search">
        <div class="form-group has-feedback">
          <input type="text" class="form-control " ng-model="$parent.searchText" placeholder="Search for...">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
    </div>
      










