<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>
        suppApp
    </title>

    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/angular/angular.js" type="text/javascript"></script>
    <script src="libs/angular-route/angular-route.js"type="text/javascript"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="libs/pdfmake/build/vfs_fonts.js"></script>

    <!--Quill editor-->
    <script src="libs/quill/dist/quill.js"></script>
    <script src="libs/quill/dist/quill.min.js"></script>
    <link  href="libs/quill/dist/quill.bubble.css" rel="stylesheet">
    <link  href="libs/quill/dist/quill.snow.css" rel="stylesheet">
    <script src="libs/quill-image-drop-module/image-drop.min.js"></script>


    <script src="js/app.routes.js"></script>
    <script src="js/PersonCtrl.js"></script>
    <script src="js/MenuCtrl.js"></script>
    <script src="js/SchoolCtrl.js"></script>
    <script src="js/ClassCtrl.js"></script>
    <script src="js/HealthCenter.js"></script>

    <link href="libs/bootstrap-side-navbar/source/assets/stylesheets/navbar-fixed-side.css" rel="stylesheet" />
    <link href="libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" >

    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="libs/happy-little-checkboxes/css/style.css">
    
    
    <!--<base href="/">-->

</head>

<body>
    <header>
        <div ng-include src="'partials/Menu/navMenu.html'"></div>
    </header>
    <section>
        <div class="main">
            <div ng-view></div>
        </div>
    </section>
</body>

</html>
